<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" class="ng-app:app" id="ng-app" lang="cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑器</title>
    <link href="css/pure-min.css" rel="stylesheet" type="text/css" />
    <script src="lib/html5shiv.js"></script>
    <script src="lib/json2.js"></script>
    <script>
        //optional need to be loaded before angular-file-upload-shim(.min).js
        FileAPI = {
            jsPath: 'lib/uploader/',
            staticPath: 'lib/uploader/'
        }
    </script>
    <script src="lib/uploader/angular-file-upload-shim.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="lib/uploader/angular-file-upload.min.js"></script>

    <link rel="stylesheet" href="lib/kindeditor-4.1.10/themes/default/default.css" />
    <script charset="utf-8" src="lib/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script charset="utf-8" src="lib/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/docEditorController.js"></script>
</head>
<body>
<div style="margin: auto;max-width:1000px;position: relative" ng-controller="docCtrl">
    <div style="background-color: gray;color:white;padding:5px">
        <h3>文档编辑器
            <button class="pure-button pure-button-primary"
                    ng-click="saveDoc()" ng-blur="serverMessage=''" style="margin-left:50px ">
                保存
            </button>
            <button class="pure-button pure-button-primary"  ng-show="doc.status=='waiting' || doc.status=='disable'"
                    ng-click="setDocStatus('active')" ng-blur="serverMessage=''" style="margin-left:50px ">
                审核通过
            </button>
            <button class="pure-button pure-button-primary" ng-show="doc.status=='active'"
                    ng-click="setDocStatus(’disable')" ng-blur="serverMessage=''" style="margin-left:50px ">
                撤回
            </button>
            <span style="margin-left: 50px;font-size: 12px;">{{serverMessage}}</span>
            <div style="display: inline-block; padding-left: 300px">{{userName}}</div>
        </h3>
    </div>
    <div ng-show="doc.isListIntro">
        正在编辑《{{doc.isListIntro?(doc._id|list2Name):''}}》的栏目简介
    </div>
    <div ng-hide="doc.isListIntro">

        <div  ng-hide="doc.inLists|docEditable:allLists" style="border-bottom: solid 1px #aaaaaa">栏目：
            <div ng-repeat="parent in parents" style="">
                <div style="display: inline-block;font-size: 14px;width:100px" class="listBtn" ng-click="catShow[$index]=!catShow[$index];">
                    {{parent.name}}
                    <img src="images/pushright.png" ng-hide="catShow[$index]" style="width: 14px" alt="">
                    <img src="images/pullleft.png" ng-show="catShow[$index]" style="width: 14px" alt="">
                </div>
                <div style="display: inline-block" ng-show="catShow[$index]">
                    <div ng-repeat="item in parent.children" class="listBtn"
                          ng-class="( -1 == doc.inLists.indexOf(item._id) )?'falseList':'trueList'"
                        ng-click="toggleList(item._id)" style="font-size: 14px">{{item.name}}</div>
                    </div>
            </div>
        </div>
    </div>
    <div style="padding:10px;font-size:20px">
        <label>标题 </label>
        <input type="text" ng-model="doc.title" ng-change="title_error=''"
               style="width: 700px;padding:2px;border: none; border-bottom: solid 1px blue"/>
        <span style="color:red">{{title_error}}</span>
    </div>
    <div ng-hide="doc.isListIntro">
        <div style="padding:10px;font-size:14px">
            <label>在首页显示图片</label>
            <input type="checkbox" ng-model="doc.showHomepage" />

            <label style="margin-left: 20px">固定置顶</label>
            <input type="checkbox" ng-model="doc.showTopSticky" />

            <label style="margin-left: 20px">来源</label>
            <input type="text" ng-model="doc.source" style="width: 200px;padding:2px;border: none; border-bottom: solid 1px blue"/>

            <label style="margin-left: 20px">发布日期</label>
            <input type="text" ng-model="doc.displayDate" style="width: 200px;padding:2px;border: none; border-bottom: solid 1px blue"/>
        </div>
        <div style="padding:10px;font-size:14px">
            <label>需登录后阅读</label>
            <input type="checkbox" ng-model="doc.loginToRead" />

            <label style="margin-left: 20px">使用直接跳转</label>
            <input type="checkbox" ng-model="doc.redirect" />

            <label style="margin-left: 10px" ng-show="doc.redirect">跳转目标</label>
            <input type="text" ng-show="doc.redirect" ng-model="doc.redirectTo" style="width: 400px;padding:2px;border: none; border-bottom: solid 1px blue"/>
        </div>
    </div>
    <div id="docPreview" style="margin:10px;width:80%;padding:5px;">
        <div ng-repeat="para in doc.paraList" style="margin: 5px;position: relative"
             ng-mouseover="delBtnShow=$index" ng-mouseout="delBtnShow=-1"
             ng-class="($index==delBtnShow)?'activePara':''"   >
            <div class="pure-control-group" style="position: absolute;right:5px;top:5px" ng-show="delBtnShow == $index">
                <button class="pure-button" ng-click="removePara($index)">删除</button>
                <button class="pure-button" ng-click="editPara($index)">编辑</button>
                <button class="pure-button" ng-click="newHtml($index)" >插入HTML</button>
                <button class="pure-button" ng-click="newImage($index)" >插入图片</button>
                <button class="pure-button" ng-click="newAttachment($index)" >插入附件</button>
            </div>

            <div ng-show="para.html" ng-bind-html="para.html.show"></div>
            <img ng-show="para.image" style="display:block;margin:10px auto;max-width: 600px" ng-src="{{para.image.url}}"/>
            <div ng-show="para.attachment" style="padding: 20px">
                <img src="images/fileDownload2.png" style="height: 20px;margin-bottom: -5px">
                附件 - {{para.attachment.showName}}  （源文件名：{{para.attachment.name}}）
            </div>

        </div>
    </div>

    <div style="margin: 20px;clear: both;margin: 20px">
        <button class="pure-button " ng-click="newHtml(-1)" >添加HTML</button>
        <button class="pure-button " ng-click="newImage(-1)" >添加图片</button>
        <button class="pure-button " ng-click="newAttachment(-1)" >添加附件</button>
    </div>
    <div ng-show="editing==1" class="contentPool" >
        <textarea id="docEditinput" name="docEditinput" style="width:100%;height:600px;visibility:hidden;"></textarea>
        <button class="pure-button" ng-click="editing=0;addHtml()" style="position: absolute;right:95px;bottom:5px">完成编辑</button>
        <button class="pure-button" ng-click="editing=0" style="position: absolute;right:5px;bottom:5px">取消</button>
    </div>
    <div ng-show="editing==2" class="contentPool">
        <div class="titleBar" style="width: 100%">
            <span style="margin-left: 60px;font-size: 44px">图片库</span>
            <button class="pure-button" ng-click="editing=0" style="float:right; margin: 15px">{{(uploadPercet<100)?'上传进度 ' +uploadPercet+'%':'上传图片' }}</button>
            <input type="file" class="pure-button" ng-file-select="onFileSelect($files)" style="float:right; margin: 15px -130px 15px 15px; opacity: 0;width:80px" multiple>

            <button class="pure-button" ng-click="editing=0" style="float:right; margin: 15px">取消</button>
        </div>
        <div  style="overflow: auto;width:100%;height: 100%;font-size: 14px"
              ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class">
            <div style="padding-top: 100px">
                <div ng-repeat="item in imagePoolData"
                     style="margin: 8px; box-shadow: 0px 0px 15px #aaa; cursor: pointer; display: inline-table;">
                    <img src="images/delete.png" style="width:20px" ng-click="deleteImage($index)">
                    <div  ng-click="addImage($index)"
                          style="background:url({{item.url}})  no-repeat center;background-size:contain;width:180px; height:180px;
                        word-wrap:break-word;word-break:break-all;font-size:12px" >
                        <span style="margin-left:30px;margin-top:-20px;">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="editing==3" class="contentPool">
        <div class="titleBar" style="width: 100%">
            <span style="margin-left: 60px;font-size: 44px">附件库</span>
            <button class="pure-button" ng-click="editing=0" style="float:right; margin: 15px">{{(attUploadPercet<100)?'上传进度 ' +attUploadPercet+'%':'上传附件' }}</button>
            <input type="file" class="pure-button" ng-file-select="onAttachmentSelect($files)" style="float:right; margin: 15px -130px 15px 15px; opacity: 0;width:80px" multiple>
            <button class="pure-button" ng-click="editing=0" style="float:right; margin: 15px">取消</button>
        </div>
        <div  style="overflow: auto;width:100%;height: 100%"
              ng-file-drop="onAttachmentSelect($files)" ng-file-drag-over-class="optional-css-class">
            <div  style="padding-top: 80px;padding-left: 30px">
                <input ng-model="attachment_filter_byName" ng-change="filterAttachment(attachment_filter_byName)" class="pure-input-rounded">
                <label style="padding-left: 5px">过滤附件名</label>
            </div>
            <div >
                <div ng-repeat="item in attachmentPoolData"
                     style="height:18px; margin: 3px; cursor: pointer;display: block;border-bottom: solid 1px #eeeeee;vertical-align: top">
                    <img src="images/delete.png" style="width:12px" ng-click="deleteAttachment($index)">
                <span ng-click="addAttachment($index)" style="word-wrap:break-word;word-break:break-all;font-size:12px">
                   {{item.showName}} <span style="color: #dddddd">源文件名：{{item.name}}</span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
