html , body{
font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu
}
.listBtn{
   // border: solid 1px blue;
    border-radius: 8px;
    padding:2px 8px;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
}
.falseList{
   background-color: #aaa;
    color:white;
}
.trueList{
    background-color: cornflowerblue;

}
.activePara{
    outline: none;border:solid 2px #9ecaed;box-shadow: 0 0 20px #000;
}
.activeImg{
    outline: none;border:solid 2px #9ecaed;box-shadow: 0 0 20px #000;
}
.contentPool{
    height:600px;
    width:800px;
    border: solid 1px gray;
    background-color: white;
    box-shadow: 10px 10px 5px #999;
    position: fixed;
    top:10px;
    left:50px
}
.contentPool .titleBar{
    width: 100%;
    position: absolute;
    background-color: #aaa;
    opacity: 0.95;
}