.contm { width:980px; height:100%; margin:0 auto}
#cont_left { width:340px; padding-bottom:100px; float:left; background:#f1f1f1;}
b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #f1f1f1}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}
.live_new { width:312px; height:187px; background:url(../images/bg.png) no-repeat;margin-left:14px; margin-top:5px}
.topname { padding-top:12px;padding-left:14px;font-size:15px; font-weight:bold; color:#FFFFFF}
.new { width:300px; height:115px;}
.newlist {padding-left: 15px;margin-top: 11px;overflow: hidden; }
.newlist li {overflow: hidden; FLOAT: left; padding-left:10px; font-size:12px; color:#999999; line-height:14px; height:14px; padding-top:6px;}
.newlist li a {color:#114a84;}
.newlist li a:hover{color:#FF3300;}
.newlist li span { padding-right:5px; padding-left:5px;}
.newsmore {float:right; padding-right:27px;}


.video { width:315px; height:292px; background:url(../images/vidobg.png) no-repeat;  margin-left:14px; margin-top:15px}
.video_p { width:305px; height:208px; padding-top:3px; padding-left:5px;}
.video_s { padding-left:10px; padding-top:5px;}
#cont_right { margin-bottom:100lx; width:625px; height:100%; float:right;}
.conttit { width:615px; height:24px; padding-top:20px; padding-left:10px; font-size:15PX; color:#000000; font-weight:bold}
.fgx { width:625px; height:4px; background:url(../images/xian.jpg) no-repeat; margin-left:0px;}
.contlb { width:615px; height:408px; padding-left:10px; padding-top:15px;}
.contlb2 { width:615px; height:100%; padding-left:10px; padding-top:15px;}
.contlbx { width:615px; height:100%; padding-left:10px; color:#999999; font-size:12px;}
.contlbx p {line-height:20px; padding-top:20px;}
.contcom { padding-left:10px;padding-top:20px;color:#999999; font-size:13px;}
.page {background:url(../images/jiantoubeijing.png) no-repeat; width:611px; height:14px; margin-left:10px; margin-top:50px;}
.pglf { float:left; width:250px; padding-left:20px;}
.pgrt { float:right; width:300px; text-align:right; padding-right:20px}

.qiehuan1 {width:328px; height:169px; background:url(../images/qiehuan.jpg) no-repeat;  margin-left:8px; margin-top:15px;}
.qiehuan2 {width:328px; height:169px; background:url(../images/qiehuan.jpg) no-repeat;  margin-left:8px; margin-top:15px;}
.qhlist {padding-left: 15px;margin-top: 4px;overflow: hidden;}
.qhlist li {overflow: hidden; FLOAT: left; padding-left:10px; font-size:12px; color:#999999; line-height:14px; height:14px; padding-top:6px;}
.qhsmore {float:right; padding-right:15px; padding-top:3px}
/*«–ªª*/
.tab{margin-top:0px; margin-left:10PX; padding-top:6PX;}
#TabTab03Con1{width:305px;height:100px;line-height:100px;}
#TabTab03Con2{width:305px;height:100px;line-height:100px;}

.tao2t1{width:305px;height:31px;line-height:31px;background-image:url(../images/qiez.png);cursor:pointer; font-weight:900;}
.tao2t2{width:305px;height:31px;line-height:31px;background-image:url(../images/qiey.png);cursor:pointer;font-weight:900;}

.tab1{width:81px;height:31px;line-height:31px;float:left;text-align:center;cursor:pointer;}
.tab2{width:81px;height:31px;line-height:31px;float:left;text-align:center;cursor:pointer;}


/*∂‡Õºƒ⁄»›ª√µ∆*/
.bannerbox { width: 615px; height: 408px; overflow: hidden; margin: 0px auto; }
#focus { width: 615px; height: 408px; clear: both; overflow: hidden; position: relative;  }
    #focus ul { width: 615px; height: 408px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
        #focus ul li { float: left; width: 615px; height: 408px; overflow: hidden;  padding: 0px; margin: 0px; }
    #focus .preNext { width: 550px; height: 408px; position: absolute; top: 0px; cursor: pointer; }
    #focus .pre { left: 0; background: url(../images/sprite.png) no-repeat left center; }
    #focus .next { right: 0; background: url(../images/sprite1.png) no-repeat right center; }


.fbtit { text-align:center; font-size:15px; font-weight:bold; color:#000000;}
.biaod { padding-top:20px;}
.jssm { width:524px; height:480px; background:url(../images/bg-1.jpg) no-repeat; margin:0 auto}
.syjz { width:524px; height:321px; background:url(../images/bg-2.jpg) no-repeat; margin:0 auto}
.qt { width:524px; height:143px; background:url(../images/bg-3-2.jpg) no-repeat; margin:0 auto}
.hzfs { width:524px; height:147px; background:url(../images/bg-3-1.jpg) no-repeat; margin:0 auto}
.bdxx { width:524px; height:4px; background:url(../images/xuxian.jpg) no-repeat; margin-left:46px; margin-bottom:5px; margin-top:5px;}
.bdxx2 { width:524px; height:4px; background:url(../images/xuxian.jpg) no-repeat; margin-left:46px; margin-bottom:1px; margin-top:5px; clear:both}
.bdxx3 { width:524px; height:4px; background:url(../images/xuxian.jpg) no-repeat; margin-left:46px; margin-bottom:0px; margin-top:0px; clear:both}
.bdxx4 { width:524px; height:4px; background:url(../images/xuxian.jpg) no-repeat; margin-left:46px; margin-bottom:50px; margin-top:0px; clear:both}
.biaodname { width:70px; padding-left:60px; float:left; line-height:25px; font-size:13px;}
.biaodname2 { width:70px; height:80px; padding-left:60px; float:left; line-height:20px}
.biaodname3 { width:60px; height:485px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left;}
.biaodname4 {width:60px; height:321px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left}
.biaodname5 {width:60px; height:147px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left}
.jssmy { float:right; width:440px;}
.jssm_n { width:440px; height:100px; padding-top:10px;}
.jssm_t { height:20px; line-height:20px; overflow:hidden; padding-top:8px; color:#999999}
.syjzy { float:right; width:440px;}
.syjz_n { width:440px; height:110px; padding-top:10px;}
.syjz_t { height:20px; line-height:20px; overflow:hidden; padding-top:3px; color:#999999}
.syjz_tt { height:20px; line-height:20px; overflow:hidden; padding-top:18px; color:#999999}
.syjzy { float:right; width:440px;}
.qty { float:right; width:440px;}
.qt_n { width:440px; height:110px; padding-top:10px;}
.hzfsy { float:right; width:440px;}
.hzfs_n { width:440px; height:110px; padding-top:10px;}
.fb { text-align:center; padding-top:20px; padding-bottom:30px; clear:both}
input.image-sprites_x {
	padding: 2px 1px 4px 18px;
	line-height:20px;
	height: 24px;
	width: 365px;
	outline: none;
	background: url('../images/sr.png') top center no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
input.image-sprites_w {
	padding: 2px 1px 0px 18px;
	height: 24px;
	width: 176px;
	line-height:20px;
	outline: none;
	background: url('../images/il.png') top center no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
textarea.image-sprites_nd{
padding: 5px 1px 4px 5px;
	height:110px;
	width:400px;
	outline: none;
	background: url('../images/nd.png') top center no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0; 
 overflow-x:hidden;
 overflow-y:hidden
}


/*æ≠ºÕ»À∆¿π¿*/
.jjrpg {width:524px; height:219px; background:url(../images/bg-4.jpg) no-repeat; margin:0 auto;}
.pgbd {width:80px; height:147px; padding-left:10px; float:left; line-height:20px; padding-top:5px; float:left; font-weight:900}
.jjrpgy { float:right; width:415px;}
.jjrpg_n { width:415px; height:120px; padding-top:15px; padding-right:15px;}
.jjrxx { width:524px; height:150px; margin: 0 auto}
.jjrxx_face { width:70px; height:110px; padding-left:10px; padding-top:10px; float:left; text-align:center;}
.jjrxx_face p {font-size:14px; font-weight:bold; color:#999999; padding-top:1px; padding-bottom:0px;}
.jjrxx_face span { font-size:14px; font-weight:bold; color:#000000}
.jjrxx_sm { width:430px; height:125px; float:right; font-size:13px; color:#FF0000; padding-top:10px;}
.data { color:#114a84; padding-left:335px; font-size:smaller; padding-top:60px;}
.face { border:thin #b7b7b7 solid}
br {PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px}
.biaodname1 {width:70px; padding-left:60px; float:left; line-height:25px; font-size:13px; font-weight:900; color:#114a84}
.biaodname21 {width:70px; height:auto; padding-left:60px; float:left; line-height:20px; font-size:13px; font-weight:900; color:#114a84}
.biaodname31 { width:60px; height:440px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left; font-weight:900; color:#114a84; background-color:#f5f7fa}
.biaodname41 { width:60px; height:300px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left; font-weight:900; color:#114a84; background-color:#f5f7fa}
.biaodname51 {width:60px; height:80px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left; font-weight:900; color:#114a84}
.biaodname100 {width:150px; height:20px; padding-left:15px; float:left; line-height:20px; padding-top:5px; float:left; font-weight:900; color:#114a84}
.jssm1 { width:524px; height: auto;margin:0 auto}
.syjz1 { width:524px; height:300px; margin:0 auto}
.hzfs1 { width:524px; height:100px;margin:0 auto}
.qt1 { width:524px; height:100px; margin:0 auto}
.jssm_t1 { height:20px; line-height:20px; overflow:hidden; padding-top:3px; color:#333333; font-weight:800}
.nrsm { padding-top:5px; padding-bottom:20px; color:#999999; line-height:25px;}
.nrsm1 { padding-top:0px; padding-bottom:10px; color:#999999; line-height:25px;}
.bdxxql {color:#999999;PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;line-height:25px}
.bdxxqlb {color:#999999;PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;line-height:25px}
.lxfs {font-weight:900; color:#114a84; padding-left:150px; padding-right:10px;}
.tijiao {padding-top:30px; padding-bottom:10px; padding-left:250px; clear:both;}
.jsxz {}
textarea.image-sprites_ndx{
padding: 5px 1px 4px 0px;
	height:150px;
	width:390px;
	outline: none;
	background: url('../images/nd.png') top center no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0; 
 overflow-x:hidden;
 overflow-y:hidden
}

#text_content{resize:none;}