上下翻动通知栏

<div class="tznr" style="position:relative;height:19px; overflow-y: hidden">
    <div  style="position:absolute;top:30px; "
          ng-repeat="doc in tzgg.list" ng-style="($index==tzgg.current)?{transition:'top 0.7s',top:'4px'}:(($index==(tzgg.current-1)||($index==(tzgg.list.length-1) && tzgg.current==0))?{transition:'top 0.7s',top:'-30px'}:{top:'30px'})">
        <a href="content.html#/news/{{doc._id}}" target="{{doc.redirect?'_blank':''}}" >{{doc.title}}</a>
    </div>
</div>


newTextSlider :function(pool,top,list){
var obj ={_id:list};
Component.http.get(Server +'list_title/'+pool+'/'+top+'/'+list).success(function(d){
obj.list= d.list;
obj.current = 0;
obj.next=function(){
obj.current++;
if (obj.current >= obj.list.length) obj.current= 0;
Component.scope.$apply();
}
var i=setInterval(obj.next,2000);
});
return obj;
},




全列表
<ul style="display: inline-block">
    <li style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
        ng-class="( 'docList-1' == aBtn )?'trueList':'falseList'" ng-click="btn('docList-1');Go('/docList/noListDocs')">草稿箱</li>
    <li ng-repeat="item in allLists" style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
        ng-class="( aBtn == 'docList' + $index )?'trueList':'falseList'"
        ng-click="btn('docList' + $index);Go('/docList/'+item._id)">
        {{item.name}}
    </li>
</ul>