<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" class="ng-app:app" id="ng-app" lang="cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上海高校技术市场官方网站</title>
    <link href="css/pure-min.css" rel="stylesheet" type="text/css" />

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/content.css" rel="stylesheet" type="text/css" />


    <script src="lib/html5shiv.js"></script>
<script src="lib/json2.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/sharedComponents.js"></script>
<script src="js/index.js"></script>
</head>
<body style="font: 12px/20px SimSun, 宋体, Arial Narrow, HELVETICA;">
<!--topstar-->
<div ng-controller="menuContoller">
  <div class="top">
    <div id="logo"><a href=""></a></div>
    <div id="topdh">
        <a href="#/news/52af1a11e7d42639bd9ab572">联系我们</a>
        <span><img src="images/huaxian.jpg" /></span>
        <a href="#/news/52af1a26e7d42639bd9ab573">友情链接</a>
        <span><img src="images/huaxian.jpg" /></span>
        <a href="#/news/52af1a2ee7d42639bd9ab574">网站地图</a>
        <span> <img src="images/huaxian.jpg" /></span>
    </div>
    <div id="searchtop">
        <div id="search_box">
            <form>
                <input type="text" ng-model="newsKeyword" id="s" placeholder="输入搜索内容" />
                <input type="image" ng-click='newsSearch(newsKeyword)' src="images/sousu.jpg" style="width:34px;height:18px;padding: 3px 7px;" />
            </form>
        </div>
    </div>

  </div>
  <!--topend-->

  <!--导航开始-->

  <div id="menu" style="clear:both">
    <ul>
        <li ng-repeat-start="item in menuItems" class="m_line" ><img src="images/line1.gif" /></li>
        <li ng-repeat-end id="m_1" ng-class="($index == activeMenu)?'m_li_a':'m_li'" ng-mouseover="menuShow($index)">
            <a href="{{item.linkTo}}">{{item.caption}}</a>
        </li>
    </ul>
  </div>
  <div style="height:32px; background-color:#F1F1F1;">
    <ul class="smenu">
        <li ng-repeat="item in menuItems" ng-style="{'padding-left':item.left+'px'}" ng-hide="($index != activeMenu)" class='s_li_a'>
            <a ng-repeat="sub in item.subMenu" href="{{sub.linkTo}}">
                {{$first?'':'&nbsp;&nbsp;'}}{{sub.caption}}{{$last?'':'&nbsp;&nbsp;'}}
                <img ng-hide="$last" src="images/fg.jpg" />
            </a>

        </li>
   </ul>
  </div>
</div>
<!--导航结束-->
<!--body开始-->
<div ng-view ></div>
<!--foot开始-->
<div class="fw">网站访问量：234888    电话：021-11111111</div>
<div class="foot">
    <div class="foottxt">
        <p>copyright2013 上海高校技术市场 版权所有</p>
    </div>
</div>
<!--foot结束-->
</div>

<div ng-hide="hidelogin" ng-controller="loginScreenCtrl"
     style="height: 300px;width:460px;position: fixed;clear:both;top:120px;left:350px;border:solid 1px #dddddd;background-color:#ffffff;box-shadow: 5px 5px 5px #aaaaaa">
    <div style="background-color:#129FEA; width: 100%; border-bottom: solid 1px #aaaaaa;margin-top:20px">
        <div style="display:inline-block;padding: 10px 40px 10px 40px;font-size: 20px; color: #ffffff;">需要审核过的用户才能进行此操作</div>
        <div style="background-color:#0078e7;padding:5px 10px;cursor:pointer;display: inline-block;font-size: 16px; color: #ffffff;"
             ng-click="hidelogin=true;Go('/home')">取消</div>
    </div>
    <div style="display:inline-block;padding-left:140px; transition: pading-left 1s" ng-style="showReg?{'padding-left':'70px'}:{}">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <legend>用户登录<div style="display:inline-block;font-size: 12px;padding-left: 10px"><a href="" ng-click="showRegForm()">登记新用户</a></div></legend>

                <label for="email">Email</label><input type="text" ng-model="uid" placeholder="用户email">
                <label for="password">密码</label><input type="password" ng-model="pwd" placeholder="密码">
                <br>

                <button ng-click="login()" class="pure-button pure-button-primary">登录</button>
            </fieldset>
        </form><br>
        <a href="" style="font-size: 12px;">{{message}}</a><br>
        <button ng-show="false" class="pure-button pure-button-primary" ng-click="hidelogin=true" style="margin: 20px auto">开发版免登录</button>
    </div>
    <img ng-show="showReg" style="margin-left:20px;display:inline-block;height: 75%; width: 5px" src="images/vline.png">
    <div style="display:inline-block;margin:0px auto auto 30px;vertical-align: top;overflow: hidden"
         ng-show="showReg">

        <form class="pure-form pure-form-stacked">
            <fieldset>
                <label for="email">Email</label><input type="text" ng-model="newUser.uid" placeholder="用户email">
                <label for="email">密码</label><input type="password" ng-model="newUser.pwd" placeholder="密码">
                <label for="email">重复密码</label><input type="password" ng-model="newUser.pwd2" placeholder="密码">
                我是： <input type="checkbox" ng-model="newUser.qiye">企业
                <input type="checkbox" ng-model="newUser.gaoxiao">高校
                <input type="checkbox" ng-model="newUser.jingjiren">经纪人
                <br><br>
                <button ng-click="register()" class="pure-button pure-button-primary">登记账号</button>
            </fieldset>
        </form>
    </div>
</div>
</body>

</html>
