<div id="cont_right">
    <div class="conttit">高校成果发布</div>
    <div class="fgx"></div>
    <div class="contlb">
        <div style="text-align:center; font-size:15px; font-weight:bold;">高校科技成果推介</div>
        <div style="padding-top:20px;"><form action="" method="get">
            <div class="biaodname">学校</div>
            <input name="n1" ng-model="doc.name" type="text" placeholder="输入学校名称" class="clearInput" style="width:400px" />
            <div class="bdxx"></div>
            <div class="biaodname">项目名称</div>
            <input  ng-model="doc.title" name="n2" type="text" class="clearInput"  style="width:400px"  />
            <div class="bdxx"></div>
            <div class="biaodname">项目联系人</div>
            <input  ng-model="doc.contacts" name="n3" type="text" class=" clearInput"  style="width:180px" />
            联系方式
            <input  ng-model="doc.contactinfo" name="n4" type="text" class="clearInput"  style="width:150px" />
            <div class="bdxx"></div>
            <div class="biaodname">技术领域<br />(可多选)</div>

            <table width="420" border="0" style="color:#999999; padding-left:15px;display: inline-block">
                <tr>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="aa" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>新能源</td>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="bb" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>生物医药</td>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="cc" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>新能源汽车</td>
                </tr>
                 <tr>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="dd" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div></td>
                    <td>民用航空制造业</td>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="ee" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);"></div>
                    </td>
                    <td>电子信息制造业</td>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="ff" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>海洋工程设备</td>
                 </tr>
                 <tr>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="gg" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>先进重大设备</td>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="hh" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>软件和信息服务业</td>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="ii" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);" ></div>
                    </td>
                    <td>新材料</td>
                 </tr>
                 <tr>
                    <td>
                        <input  type="checkbox" value="" name="cc" id="jj" style="display:none;" />
                        <div style="width:15px; height:15px;background-image:url(images/dr.png);"></div>
                    </td>
                    <td colspan="5">其他
                        <input name="n22" type="text" class="image-sprites_wd"  />
                    </td>
                 </tr>
            </table>

            <div class="bdxx"></div>
            <div class="biaodname">技术说明</div>
            <div style="display: inline-block">
                <span style="color:#999999"> 1、技术性说明</span>
                <br><textarea  ng-model="doc.techbrief" class="clearInput" style="width: 400px;height: 100px"></textarea>
                <br><span style="color:#999999">2、技术创新点</span>
                <br><textarea  ng-model="doc.techhighlight" class="clearInput" style="width: 400px;height: 100px"></textarea>
                <br><span style="color:#999999">3、知识产权情况</span>
                <br><textarea  ng-model="doc.techIP"     class="clearInput" style="width: 400px;height: 100px"></textarea>
            </div>
            <div class="bdxx"></div>
            <div class="biaodname">实用价值</div>
            <div style="display: inline-block">
                <span style="color:#999999"> 1、技术的成熟度</span>
                <br><textarea  ng-model="doc.techlevel"  class="clearInput" style="width: 400px;height: 100px"></textarea>
                <br> <span style="color:#999999"> 2、技术的实用性和适用领域 </span>
                <br> <textarea  ng-model="doc.techapllication" class="clearInput" style="width: 400px;height: 100px" ></textarea>
            </div>
            <div class="bdxx"></div>
            <div class="biaodname">合作方式</div>
            <textarea  ng-model="doc.terms" class="clearInput" style="width: 400px;height: 100px"></textarea>
            <div class="bdxx"></div>
            <div class="biaodname">其他</div>
            <textarea  ng-model="doc.other" class="clearInput" style="width: 400px;height: 100px"></textarea>
        </form></div>
    </div>
    <input ng-click="submitDoc()" name="img" type="image" style="margin:20px auto auto 250px" src="images/fabu.png" />
</div>
