<div>
    <a href="#/{{list_home_img_slider_0.list[list_home_img_slider_0.current].link}}">
    <div style="display: inline-block; overflow-x: hidden;width:500px;height: 300px;">
            <img style="position: absolute;display: inline-block;left:0px;top:0px;width:500px;height: 300px; transition: opacity 1s;"
             ng-repeat="img in list_home_img_slider_0.list"
             ng-src="{{img.imgUrl}}"
             ng-click="list_home_img_slider_0.next($index)"
             ng-style="($index==list_home_img_slider_0.current)?{opacity:1}:{opacity:0}" />
    </div>
    </a>

    <div>
        <table>
            <tr style="cursor: pointer">
                <th><span ng-mouseenter="predicate = 'name'; reverse=false">姓名</span>
                    (<span href="" ng-mouseenter="predicate = 'name'; reverse=true">倒序</span>)</th>
                <th>电话</th>
                <th><span href="" ng-mouseenter="predicate = 'age'; reverse=false">年龄</span></th>
            </tr>
            <tr ng-repeat="friend in friends | orderBy:predicate:reverse"
                    ng-mouseenter="set_list_home_news_0_active($index)">
                <td>{{friend.name}}</td>
                <td>{{friend.phone}}</td>
                <td>{{friend.age}}</td>
                <td style="transition: opacity 0.7s;"
                    ng-style="($index==list_home_news_0_active)?{opacity:1}:{opacity:0}">
                    <div ng-repeat="gift in friend.gifts">{{gift.name}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>