<div class="content">
<!--通知-->
<div class="tz"><div class="tznr">韩国产业技术振兴院专场技术协作洽谈会</div></div>
<div class="xwdt"></div>
<!--幻灯-->
<div class="hd">
    <div id="hdz">
        <div class="changeBox_a1" id="change_32">
            <div class="changeDiv" ng-repeat="image in home_slide_0.list">
                <a href="#{{home_slide_0.list[home_slide_0.current].linkTo}}" title="{{image.caption}}">
                    <img width="480" height="294" alt="{{image.caption}}" border="0" src="{{image.imgUrl}}"
                         style="transition: opacity 1s"
                         ng-style="($index==home_slide_0.current)?{opacity:1}:{opacity:0}"/>
                </a>
                <h3 ng-hide="$index!=home_slide_0.current"><a>{{image.caption}}</a></h3>
            </div>

            <ul class="ul_change_a2">
                <li ng-repeat="image in home_slide_0.list" >
                    <span ng-click="home_slide_0.current=$index" ng-class="($index==home_slide_0.current)?'on':''">
                        {{$index+1}}
                    </span>
                </li>
            </ul>
        </div>

    </div>
    <div id="hdy">
        <h2><a href="/" target="_blank">上海高校技术市场、上海知识产权园迁址合作签约仪式隆重举行</a></h2>
        <p>日前，上海技术交易所组织了青浦基层驿站的40名金融机构工作人员参加了2013年上海市执业技术经纪人培训...</p>
        <div id="xuxian"></div>
        <h2><a href="/" target="_blank">上海高校技术市场、上海知识产权园迁址合作签约</a></h2>
        <p>日前，上海技术交易所组织了青浦基层驿站的40名金融机构工作人员参加了青浦基层驿站的40名金融机构工作人员参加了2013年上海市执业技术经纪人培训...</p>
        <div id="xuxian"></div>
        <h2><a href="/" target="_blank">上海高校技术市场、上海知识产权园迁址合作签约仪式隆重举行</a></h2>
        <p>日前，上海技术交易所组织了青浦基层驿站的40名金融机构工作人员参加了2013年上海市执业技术经纪人培训...</p>
        <div id="xuxian"></div>
        <div class="hdymore"><a href="">...更多>></a></div>
    </div>
    <div id="hdyy"><img src="images/t-1.jpg" border="0" alt="" /></div>
</div>

<!--body左侧开始-->
<div class="cont">
<div class="cont_h">
    <div class="cont_h_txt"><a href="">信息动态</a> <a>|</a> <a href="">平台进展</a> <a>|</a> <a href="">平台简介</a></div></div>
<div class="xu"></div>


<div class="left">
    <div class="zsfw">
        <div id="zsfwleft">
            <h5>信息动态</h5>
            <div class="zsfwleft_h"><A href="">市教委组织第三次上海高校</A></div>
            <div class="zsfwleft_t"><span><a href=""><img src="images/t-2.jpg" border="0" alt="" /></a></span><p>7月4日―5日，市教委组织召开第三批“上海高校知识服务平台”建设方案专家评审会...</p></div>
            <Ul class="zsfwleft_l">
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
            </Ul>
            <div  class="zsfwmorez"><a href="">...更多>></a></div>
        </div>
        <div id="zsfwmid">
            <h5>平台进展</h5>
            <Ul class="gbhlist">
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
                <li><A href="">青浦基层驿站技术经济人培训</A></li>
                <li><A href="">青浦基层驿站技术经济人培训</A></li>

            </Ul>
            <div  class="zsfwmore"><a href="">...更多>></a></div>
        </div>
        <div id="zsfwright"><h5>平台简介</h5>
            <div class="zsfwright_cont">上海高校知识服务平台，是为贯彻落实国家和上海市中长期教育改革和发展规划纲要，推进上海创新驱动转型发展，进一步推动产学研有效结合，提升上海高校服务社会能力而推出的重大专项工程。它是一个全新的产学研协同创新载体、高校管理体制机制改革的实验区、集聚和培养高层次创新人才的高地、高校创新资源与
            </div>
            <div  class="zsfwmorey"><a href="">...更多>></a></div>
        </div>
    </div>
    <div class="claerl"></div>
    <!--展会-->
    <div class="gxzh">
        <div class="gxzh_h">
            <div class="gxzh_h_txt"><a href="">热点信息</a> <a>|</a> <a href="">工博会</a> <a>|</a> <a href="">其他展览</a>
            </div>
        </div>
        <div class="zsfw">
            <div id="zsfwleft">
                <h5>热点信息</h5>
                <div class="zsfwleft_h"><h6><A href="">市教委组织第三次上海高校交流</A></h6></div>
                <div class="zsfwleft_t"><span><a href=""><img src="images/t-4.jpg" border="0" alt="" /></a></span><p>7月4日―5日，市教委组织召开第三批“上海高校知识服务平台”建设方案专家评审会...</p></div>
                <div class="zsfwleft_l">
                    <Ul>
                        <li><A href="">青浦基层驿站技术经济人培训</A></li>
                        <li><A href="">青浦基层驿站技术经济人培训</A></li>
                        <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    </Ul>
                    <div  class="zsfwmorez"><a href="">...更多>></a></div>
                </div>
            </div>
            <div id="zsfwmid">
                <h5>工博会</h5>
                <Ul class="gbhlist">
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>

                </Ul>
                <div  class="zsfwmore"><a href="">...更多>></a></div>
            </div>
            <div id="zsfwright"><h5>其他展会</h5>

                <Ul   class="gbhlist">
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>
                    <li><A href="">青浦基层驿站技术经济人培训</A></li>

                </Ul>

                <div  class="zsfwmore"><a href="">...更多>></a></div>
            </div>
        </div>
        <div class="claerl"></div>

        <div class="cgzy"></div>
    </div>
    <!--企业-->
    <div class="qyxq">
        <div class="qyxq_h">
            <div class="qyxq_h_txt"><a href="">企业发布</a> <a>|</a>  <a href="">经纪人评估</a><span style="float:right">
  <div id="search_boxz">
      <form id="search_form1" method="post" action="#">
          <input type="text" id="sz" value="输入搜索内容" onclick="this.value=''" onblur="this.value='输入搜索内容'" class="swap_value" />
          <input type="image" src="images/sousu.jpg" width="34" height="18" id="go" alt="Search" title="Search" />
      </form>
  </div>
</span>
            </div>
        </div>
        <div class="gxt"><img src="images/t-6.jpg" border="0" alt="" width="270" height="162" /></div>
        <div class="gxwz">
            <ul class="gxwzlist">
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料VC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料VC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料VC复合电缆绝缘材料</a></li>
            </ul>
        </div>
        <div class="gxmore"><a href="">...更多>></a></div>



    </div>
    <!--高校-->
    <div class="gxcg">
        <div class="gxcg_h">
            <div class="gxcg_h_txt"><a href="">高校发布</a> <a>|</a>  <a href="">经纪人评估</a><span style="float:right">
  <div id="search_boxx">
      <form id="search_form2" method="post" action="#">
          <input type="text" id="sx" value="输入搜索内容" onclick="this.value=''" onblur="this.value='输入搜索内容'" class="swap_value" />
          <input type="image" src="images/sousu.jpg" width="34" height="18" id="go" alt="Search" title="Search" />
      </form>
  </div>
</span>
            </div>
        </div>
        <div class="gxt"><img src="images/t-8.jpg" border="0" alt="" width="270" height="162" /></div>
        <div class="gxwz">
            <ul class="gxwzlist">
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料VC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料VC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料</a></li>
                <li>13年7月18号 <span>|</span> <a href="">废弃生物质/PVC复合电缆绝缘材料VC复合电缆绝缘材料</a></li>
            </ul>
        </div>
        <div class="gxmore"><a href="">...更多>></a></div>




    </div>
</div>
<!--body左侧结束-->
<!--body右侧开始-->
<div class="right">
    <!--通讯平台-->
    <div class="pttxz">
        <div class="pttx">
            <div class="pptx_t"><h5>平台通讯</h5></div>
            <div class="pptx_pic"><a href=""><img src="images/t-3.jpg" alt="" border="0" /></a></div>
            <div class="pptx_down"><a href="">下载</a> <a href="">浏览</a></div>
            <div class="pptx_wq"><div class="xlwz">
                <select name="select" onchange="javascript:window.open(this.options[this.selectedIndex].value)">
                    <option selected="selected">往期内容</option>
                    <option value="http://www.3tai.net/">第四期杂志</option>
                    <option value="http://www.5300tv.com/">第三期杂志</option>
                    <option value="http://www.baidu.com/">第二期杂志</option>
                    <option value="http://www.google.com.cn/">第一期杂志</option>
                </select>
            </div>
            </div>
        </div>
    </div>
    <!--政策法规-->
    <div class="zcfg">
        <div class="zcfgb">
            <div class="zcfg_h">政策法规</div>
            <div class="zcfg_tw">
                <div class="zcfg_tw_t"><a href=""><img src="images/t-5.jpg" alt="" border="0" /></a></div>
                <div class="zcfg_tw_w">
                    <div class="zcfg_tw_w_h">最新政策</div>
                    <div class="zcfg_tw_w_h_c">指权利人对其所创作的智力劳动成果所享有的专有权利，一般只在有限时期内有效。</div>
                </div>
            </div>
            <div class="claer"><img src="images/fg2.jpg" /></div>
            <Ul class="zcfglist">
                <li><A href="">青浦基层驿站技术经济人培训...</A></li>
                <li><A href="">引进先进设施扩建冷房</A></li>
                <li><A href="">钢管磁探伤微机系统</A></li>
                <li><A href="">嵌入地板的低温热水供暖复合...</A></li>
                <li><A href="">青浦基层驿站技术经济人培训...</A></li>
                <li><A href="">引进先进设施扩建冷房</A></li>
                <li><A href="">钢管磁探伤微机系统</A></li>
                <li><A href="">嵌入地板的低温热水供暖复合...</A></li>
            </Ul>
        </div>
    </div>
    <!--下载专区-->
    <div class="xzzq">
        <div class="xzzqb">
            <div class="xzzq_h">下载专区</div>
            <div class="xzzq_tw">
                <div class="xzzq_tw_t"><a href=""><img src="images/t-5.jpg" alt="" border="0" /></a></div>
                <div class="xzzq_tw_w">
                    <div class="xzzq_tw_w_h">知识产权</div>
                    <div class="xzzq_tw_w_h_c">指权利人对其所创作的智力劳动成果所享有的专有权利，一般只在有限时期内有效。</div>
                </div>
            </div>
            <div class="claer"><img src="images/fg2.jpg" /></div>
            <Ul class="xzlist">
                <li><A href="">青浦基层驿站技术经济人培训...</A></li>
                <li><A href="">引进先进设施扩建冷房</A></li>
                <li><A href="">钢管磁探伤微机系统</A></li>
                <li><A href="">嵌入地板的低温热水供暖复合...</A></li>
                <li><A href="">青浦基层驿站技术经济人培训...</A></li>
                <li><A href="">引进先进设施扩建冷房</A></li>
                <li><A href="">钢管磁探伤微机系统</A></li>
                <li><A href="">嵌入地板的低温热水供暖复合...</A></li>
            </Ul>
        </div>
    </div>

</div>
</div>
<!--body右侧结束-->
<!--案例展示开始-->
<div class="anlitop">
    <div class="anlihead"><h4>案例展示</h4></div>
    <div class="anliph">
        <Ol class="pic-list">
            <li><a href=""><img src="images/t-9.jpg" alt="" border="0" /></a><p><a href="">虚拟现实实时伺服与曲面自适应技术</a></p></li>
            <li><a href=""><img src="images/t-10.jpg" alt="" border="0" /></a><p><a href="">管壳外冷绝热复合式固定床催化反应器</a></p></li>
            <li><a href=""><img src="images/t-11.jpg" alt="" border="0" /></a><p><a href="">生物质二元化工醇的大规模产业化工程项目(东华大学)</a></p></li>
            <li><a href=""><img src="images/t-12.jpg" alt="" border="0" /></a><p><a href="">高温风洞开发研制(上海理工大学)</a></p></li>
            <li><a href=""><img src="images/t-13.jpg" alt="" border="0" /></a><p><a href="">核极蒸汽发热器用镍基高温合金管材料(上海大学)</a></p></li>
        </Ol>
    </div>
    <div class="fw">网站访问量：234888    电话：021-11111111</div>
</div>
<!--案例展示结束-->

<!--body结束-->

<!--foot开始-->
<div class="foot">
    <div class="foottxt">
        <p>copyright2013 上海高校技术市场 版权所有</p>
    </div>
</div>
<!--foot结束-->
</div>
<script language="JavaScript" type="text/javascript">
    function addListener(element,e,fn){
        if(element.addEventListener){
            element.addEventListener(e,fn,false);
        } else {
            element.attachEvent("on" + e,fn);
        }
    }
    var myinput = document.getElementById("s");
    addListener(myinput,"click",function(){
        myinput.value = "";
    })
    addListener(myinput,"blur",function(){
        myinput.value = "输入搜索内容";
    })

</script>


</body>