<div class="content">
<!--通知-->

<div class="tz" style="cursor: pointer;position:relative">
    <div id="top_newsupdate_slider" class="tznr" style="position:relative;height:19px; overflow: hidden;white-space: nowrap">
        <span ng-repeat="i in [1,2,3,4,5,6,7]">
            <a  style="margin-right:10px" href="#/news/{{doc._id}}"  target="{{doc.redirect?'_blank':''}}"
            ng-repeat="doc in tzgg.list" >
                {{doc.title}}
            </a>
        </span>
    </div>
    <a href="#/newslist/{{tzgg._id}}" style="position: absolute; top:0px"><img src="images/tz.jpg" ></a>
</div>

<div class="xwdt"></div>
<!--幻灯-->
<div class="hd">
    <div id="hdz">
        <div class="changeBox_a1" id="change_32">
            <div class="changeDiv" ng-repeat="image in home_slide_0.list">
                <a href="{{home_slide_0.list[home_slide_0.current].linkTo}}" title="{{image.caption}}">
                    <img width="410" height="320" alt="{{image.caption}}" border="0" ng-src="{{image.imgUrl}}"
                         style="transition: opacity 1s"
                         ng-style="($index==home_slide_0.current)?{opacity:1}:{opacity:0}"/>
                </a>
                <h3 ng-hide="$index!=home_slide_0.current"><a>{{image.caption}}</a></h3>
            </div>

            <ul class="ul_change_a2">
                <li ng-repeat="image in home_slide_0.list" >
                    <span ng-click="home_slide_0.current=$index" ng-class="($index==home_slide_0.current)?'on':''">
                        {{$index+1}}
                    </span>
                </li>
            </ul>
        </div>

    </div>
    <div id="hdy">
        <h2 ng-repeat-start="doc in xwdt.list">
            <a  target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}" style="">
                {{doc.title|stringLeft:26}}
            </a>
        </h2>
        <p>{{doc|docBrief:100}}</p>
        <div ng-repeat-end id="xuxian"></div>
        <div class="hdymore"><a href="#/newslist/{{xwdt._id}}/新闻动态/">...更多>></a></div>
    </div>
    <div id="hdyy"><img src="images/t-1.jpg" border="0" alt="" /></div>
</div>

<!--body左侧开始-->
<div class="cont">
<div class="cont_h">
    <div class="cont_h_txt"><a href="#/newslist/529b14ceec282bac9148ac10/信息动态/">信息动态</a> <a>|</a> <a href="#/newslist/529b1da2ec282bac9148ac11/平台进展/">平台进展</a> <a>|</a> <a href="#/newslist/529b22dcec282bac9148ac12/平台简介/">平台简介</a></div></div>
<div class="xu"></div>


<div class="left">
    <div class="zsfw">
        <div id="zsfwleft">
            <h5>信息动态</h5>
            <div style="padding-top: 5px;"><A style="color:#555555" href="#/news/{{xxdt.list[0]._id}}">{{xxdt_image.list[0].title}}</A></div>
            <div class="zsfwleft_t">
                <span><a href="#/news/{{xxdt_image.list[0]._id}}">
                    <img ng-src="{{xxdt_image.list[0]|docImage:0}}" border="0" alt="" style="width:118px;height:84px"/>
                </a></span>
                <p>{{xxdt_image.list[0]|docBrief:40}}</p></div>
            <ul style="line-height:16px">
                <li ng-repeat="doc in xxdt.list" style="line-height:16px">
                    <a style="color:#555555" href="#/news/{{doc._id}}">
                        {{doc.title|stringLeft:17}}
                    </a>
                </li>
            </ul>
            <div  class="zsfwmorez"><a href="#/newslist/529b14ceec282bac9148ac10/信息动态/">...更多>></a></div>
        </div>
        <div id="zsfwmid">
            <h5>平台进展</h5>
            <Ul class="gbhlist">
                <li ng-repeat="doc in ptjz.list">
                    <a style="color:#555555" target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}">
                        {{doc.title|stringLeft:24}}
                    </a>
                </li>
            </Ul>
            <div  class="zsfwmore"><a href="#/newslist/529b1da2ec282bac9148ac11/平台进展/">...更多>></a></div>
        </div>
        <div id="zsfwright"><h5>平台简介</h5>
            <div class="zsfwright_cont">{{ptjj|docBrief:140}}
            </div>
            <div  class="zsfwmorey"><a href="#/intro">...更多>></a></div>
        </div>
    </div>
    <div class="claerl"></div>
    <!--展会-->
    <div class="gxzh">
        <div class="gxzh_h">
            <div class="gxzh_h_txt">
                <a href="#/newslist/529b2665ec282bac9148ac13/热点信息/">
                    热点信息
                </a> <a>|</a> <a href="#/newslist/529b28feec282bac9148ac14/工博会/">工博会</a>
                <a>|</a> <a href="#/newslist/529b2c6bec282bac9148ac15/其他展览/">其他展览</a>
            </div>
        </div>
        <div class="zsfw">
            <div id="zsfwleft">
                <h5>热点信息</h5>
                <div class="zsfwleft_h">
                    <h6><A style="color:#555555" target="{{rdxx_image.list[0].redirect?'_blank':''}}" href="#/news/{{rdxx_image.list[0]._id}}">
                        {{rdxx_image.list[0].title|stringLeft:22}}
                    </A></h6>
                </div>
                <div class="zsfwleft_t">
                    <span><a href="">
                        <img ng-src="{{rdxx_image.list[0]|docImage}}" border="0" alt=""  style="width:118px;height:84px"/>
                    </a></span>
                    <p>{{rdxx_image.list[0]|docBrief:40}}..</p>
                </div>
                <div class="zsfwleft_l">
                    <Ul>
                        <li ng-repeat="doc in rdxx.list">
                            <A style="color:#555555"  target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}">
                                {{doc.title|stringLeft:17}}
                            </A></li>
                    </Ul>
                    <div  class="zsfwmorez"><a style="color:#555555"  href="#/newslist/529b2665ec282bac9148ac13/热点信息/">...更多>></a></div>
                </div>
            </div>
            <div id="zsfwmid">
                <h5>工博会</h5>
                <Ul class="gbhlist">
                    <li ng-repeat="doc in gbh.list"><A style="color:#555555" target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}">{{doc.title|stringLeft:24}}</A></li>
                </Ul>
                <div  class="zsfwmore"><a style="color:#555555" href="#/newslist/529b28feec282bac9148ac14/工博会/">...更多>></a></div>
            </div>
            <div id="zsfwright"><h5>其他展会</h5>
                <Ul   class="gbhlist">
                    <li ng-repeat="doc in qtzh.list"><A style="color:#555555" target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}">{{doc.title|stringLeft:24}}</A></li>
                </Ul>

                <div  class="zsfwmore"><a style="color:#555555" href="#/newslist/529b2c6bec282bac9148ac15/其他展览/">...更多>></a></div>
            </div>
        </div>
        <div class="claerl"></div>

        <div class="cgzy"></div>
    </div>
    <!--企业-->
    <div class="qyxq">
        <div class="qyxq_h">
            <div class="qyxq_h_txt"><a href="#/qiyefabu/">企业发布</a> <a>|</a>  <a href="">经纪人评估</a><span style="float:right">
  <div id="search_boxz">
      <form>
          <input type="text" ng-model="qiyeKeyword" id="sz" placeholder="输入搜索内容" />
          <input type="image" ng-click="qiyeSearch(qiyeKeyword)" src="images/sousu.jpg" style="width:34px;height:18px;padding:3px 7px"  />
      </form>
  </div>
</span>
            </div>
        </div>
        <div class="gxt"><img src="images/t-6.jpg" border="0" alt="" width="270" height="162" /></div>
        <div class="gxwz">
            <ul class="gxwzlist">
                <li ng-repeat="doc in qyfb.list"><span style="width:65px"> {{doc._id|Id2Date}}</span> <span>|</span> <a href="#/qiyefabuDetail/{{doc._id}}">{{doc.title}}</a></li>
            </ul>
        </div>
        <div class="gxmore"><a href="#/qiyefabuList">...更多>></a></div>



    </div>
    <!--高校-->
    <div class="gxcg">
        <div class="gxcg_h">
            <div class="gxcg_h_txt"><a href="#/gaoxiaofabu/">高校发布</a> <a>|</a>  <a href="">经纪人评估</a><span style="float:right">
  <div id="search_boxx">
      <form>
          <input type="text" ng-model="gaoxiaoKeyword" id="sx" placeholder="输入搜索内容" class="swap_value" />
          <input type="image"  src="images/sousu.jpg" style="width:34px; height:18px;padding:3px 7px"
                  ng-click="gaoxiaoSearch(gaoxiaoKeyword)"/>
      </form>
  </div>
</span>
            </div>
        </div>
        <div class="gxt"><img src="images/t-8.jpg" border="0" alt="" width="270" height="162" /></div>
        <div class="gxwz">
            <ul class="gxwzlist">
                <li ng-repeat="doc in gxfb.list"><span style="width:65px"> {{doc._id|Id2Date}}</span>  <span>|</span> <a href="#/gaoxiaofabuDetail/{{doc._id}}">{{doc.title}}</a></li>
            </ul>
        </div>
        <div class="gxmore"><a href="#/gaoxiaofabuList">...更多>></a></div>




    </div>
</div>
<!--body左侧结束-->
<!--body右侧开始-->
<div class="right">
    <!--通讯平台-->
    <div class="pttxz">
        <div class="pttx">
            <div class="pptx_t"><h5>平台通讯</h5></div>
            <div class="pptx_pic"><a href="#/news/{{pttx.list[0]._id}}"><img ng-src="{{pttx.list[0]|docImage}}" style="width:102px;height:135px" alt="" border="0" /></a></div>
            <div class="pptx_down"><a href="{{pttx.list[0]|docAttachment}}">下载</a> | <a href="#/news/{{pttx.list[0]._id}}">浏览</a></div>
            <div class="pptx_wq"><div class="xlwz">
                <select name="select" onchange="javascript:if( this.options[this.selectedIndex].value !='placeholder'){ window.location.href=(this.options[this.selectedIndex].value)}">
                    <option selected="selected" value="placeholder">往期内容</option>
                    <option ng-repeat="doc in pttx.list" value="#/news/{{doc._id}}">{{doc.title}}</option>
                </select>
            </div>
            </div>
        </div>
    </div>
    <!--政策法规-->
    <div class="zcfg">
        <div class="zcfgb">
            <div class="zcfg_h">政策法规</div>
            <div class="zcfg_tw">
                <div class="zcfg_tw_t"><img src="images/t-5.jpg" alt="" border="0" style="width:80px;height:101px"/></div>
                <div class="zcfg_tw_w">
                    <div class="zcfg_tw_w_h"><a target="{{zcfg_image.list[0].redirect?'_blank':''}}" href="#/news/{{zcfg_image.list[0]._id}}">最新政策</a></div>
                    <div style="padding-top: 5px"><a style="color:#555555" target="{{zcfg_image.list[0].redirect?'_blank':''}}" href="#/news/{{zcfg_image.list[0]._id}}">{{zcfg_image.list[0].title}}</a></div>
                    <div ><a style="color:#aaaaaa" target="{{zcfg_image.list[0].redirect?'_blank':''}}" href="#/news/{{zcfg_image.list[0]._id}}">{{zcfg_image.list[0]|docBrief:40}}</a></div>
                </div>
            </div>
            <div class="claer"><img src="images/fg2.jpg" /></div>
            <Ul class="zcfglist">
                <li ng-repeat="doc in zcfg.list"><A target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}">{{doc.title|stringLeft:12}}</A></li>
            </Ul>
        </div>
    </div>
    <!--下载专区-->
    <div class="xzzq">
        <div class="xzzqb">
            <div class="xzzq_h">下载专区</div>
            <div class="xzzq_tw">
                <div class="xzzq_tw_t"><img src="images/fileDownload2.png" alt="" border="0" style="width:80px;height:101px"/></div>
                <div class="xzzq_tw_w">
                    <div class="xzzq_tw_w_h"><a href="#/news/{{xzzq_image.list[0]._id}}">{{xzzq_image.list[0].title|stringLeft:20}}</a></div>
                    <div class="xzzq_tw_w_h_c"><a href="#/news/{{xzzq_image.list[0]._id}}">{{xzzq_image.list[0]|docBrief:20}}</a></div>
                </div>
            </div>
            <div class="claer"><img src="images/fg2.jpg" /></div>
            <Ul class="xzlist">
                <li ng-repeat="doc in xzzq.list"><A style="color:#555555"  target="{{(doc.redirect)?'_blank':''}}" href="#/news/{{doc._id}}">{{doc.title|stringLeft:16}}</A></li>
            </Ul>
        </div>
    </div>

</div>
</div>
<!--body右侧结束-->
<!--案例展示开始-->
<div class="anlitop">
    <div class="anlihead"><h4>案例展示</h4></div>
    <div class="anliph">
        <Ol class="pic-list">
            <li ng-repeat="doc in alzs.list"><a style="color:#555555" target="{{doc.redirect?'_blank':''}}" href="#/news/{{doc._id}}"><img ng-src="{{doc|docImage}}" style="height: 130px;width:175px;border:none"/></a><p><a href="#/news/{{doc._id}}">{{doc.title}}</a></p></li>
        </Ol>
    </div>

</div>
<!--案例展示结束-->

<!--body结束-->
</div>