<div>
    <div>栏目管理中心</div>

    <div style="width: 400px;padding-top: 20px">
        <div class="pure-button pure-button-primary" ng-click="creatClass()">+ 新增</div>
        <div ng-repeat="c in newClasses" style="padding: 3px">
            <select ng-model='c.parent'>
                <option ng-repeat="parent in parents" value="{{parent._id}}">{{parent.name}}</option>
            </select>
            <input type="text" ng-model="c.name" placeholder="输入栏目名称" >
            <button class="pure-button pure-button-primary" ng-click="addClass($index)" style="font-size: 12px">添加</button>
        </div>

        <div ng-repeat="parent in parents">
            <div style="width: 480px;border-top: solid 1px #aaaaaa;margin: 5px;padding: 5px" ng-click="toggleParent($index)">
                <span style="font-size: 12px">{{parent.childCount}} </span>
                <img ng-src="{{(expanded[$index])?('images/dropdown.png'):('images/pullup.png')}}" style="width:16px;vertical-align: bottom">
                {{parent.name}}
            </div>
            <div ng-style="expanded[$index]?{height:parent.childCount * 35 + 'px'}:{height:'0px'}"
                 style="width:500px;overflow:hidden;">
                <div ng-repeat="item in parent.children" style=" width: 480px;padding: 3px">

                    <div style="display:inline-block;font-size:14px;padding:3px 0px 3px 30px; width: 270px">{{item.name}}</div>
                    <div ng-click="deleteClass(item._id)" class="pure-button" style="display: inline-block;font-size: 12px;">删除</div>
                    <div ng-click="updateClass(item)" class="pure-button" style="display: inline-block;font-size: 12px;">修改</div>
                </div>

            </div>
        </div>

    </div>

</div>