<div style="display: inline-block">
    <div class="managementBlock">
        页面内容管理<br>
        <ul style="display: inline-block">
            <li style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px" ng-class="( -1 ==listActive )?'trueList':'falseList'" ng-click="activateList(-1)">草稿箱</li>
            <li ng-repeat="item in allLists" style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px" ng-class="( listActive == $index )?'trueList':'falseList'"
                ng-click="activateList($index)">
                {{item.name}}
            </li>
        </ul>
    </div>
    <div class="managementBlock">
        图片幻灯管理<br>
        <ul style="display: inline-block">
            <li class="trueList" style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px">
                <a style="font:inherit;text-decoration: inherit;color: inherit" href="#/imageList/529ac22d04e9114269849f57" target="_blank"> 首页焦点图片</a>
            </li>
        </ul>
    </div>

    <div class="managementBlock">
        成果转化审核<br>
        <ul style="display: inline-block">
            <li style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
                ng-class="( -1 ==fabuStatusActive )?'trueList':'falseList'" ng-click="activateFabuStatus(-1)">新入库发布</li>
            <li ng-repeat="status in statuses" style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
                ng-class="( fabuStatusActive == $index )?'trueList':'falseList'" ng-click="activateFabuStatus($index)">
                {{status.name}}
            </li>
        </ul>
    </div>
    <div class="managementBlock">
        系统管理<br>
        <ul style="display: inline-block">
            <li style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
                class="falseList" ng-click="showAccountManager()">用户账号</li>
            <li style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
                class="falseList" ng-click="showCategoryManager()">栏目增改</li>
            <li style="width:100px;cursor: pointer;padding: 3px;margin-bottom: 2px"
                class="falseList" ng-click="showClassManager()">文章类别增改</li>

        </ul>
    </div>
</div>